html {
    scroll-behavior: smooth;
}

body {
    background-color: #1c1c1c;
    color: #FFF;
    font-family: 'VT323', monospace;
}

form input, textarea, button {
    background-color: #474747;
    border: none;
    color: white;
}

form button:hover {
    background-color: #5c5c5c;
}

/* Note to myself: come up with a more interesting color for links */
/* a {
    color: green;
}

a:hover {
    color: greenyellow;
} */

#who {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 35vh;
}

/* #projects {
    height: 40vh;
} */

.proj-list {
    display: flex;
    flex-direction: column;
    font-size: 136%;
}

.proj-list a {
    width: fit-content;
}

.column-help {
    flex-direction: column;
}

#footer p {
    margin: 0;
    padding: 0;
}