html {
    scroll-behavior: smooth;
}

body {
    background-color: #1c1c1c;
    color: #FFF;
    font-family: 'VT323', monospace;
}

/* a {
    color: green;
}

a:hover {
    color: greenyellow;
} */

#who {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40vh;
}

/* #projects {
    height: 40vh;
} */

.proj-list {
    display: flex;
    flex-direction: column;
}

.proj-list a {
    width: fit-content;
}